# Ordenação no Pandas

In [1]:
import pandas as pd

In [2]:
# Criando arquivo/caminho do arquivo
df = pd.read_csv("https://pycourse.s3.amazonaws.com/temperature.csv")

df.head()

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel

**Métodos sort_values e sort_index**

- **Ordem Crescente**

In [4]:
# Ordenação crescente por uma coluna
df.sort_values(by='temperatura')

         date  temperatura classification
5  2020-06-01         20.0           frio
4  2020-05-01         24.0    confortavel
3  2020-04-01         28.0         quente
2  2020-03-01         28.5         quente
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente

In [5]:
# Ordenação Crescente por mais de uma coluna
df.sort_values(by=['classification', 'temperatura'])

         date  temperatura classification
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio
1  2020-02-01         31.2   muito quente
3  2020-04-01         28.0         quente
2  2020-03-01         28.5         quente
0  2020-01-01         29.1         quente

In [6]:
# Ordenação crescente pelo índice
df.sort_index()

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

- **Ordem Decrecente**

In [7]:
# Ordenação decrescente por uma coluna
df.sort_values(by='temperatura', ascending=False)

         date  temperatura classification
1  2020-02-01         31.2   muito quente
0  2020-01-01         29.1         quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [8]:
# Ordenação decrescente pelo índice
df.sort_index(ascending=False)

         date  temperatura classification
5  2020-06-01         20.0           frio
4  2020-05-01         24.0    confortavel
3  2020-04-01         28.0         quente
2  2020-03-01         28.5         quente
1  2020-02-01         31.2   muito quente
0  2020-01-01         29.1         quente